body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
h1 {
    text-align:center;
}
.top-buttons{
    text-align:center;
    margin-bottom:20px;
}
.top-buttons a{
    text-decoration:none;
    background-color: #007bff;
    color:white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}
.issue-card{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
}
.status{
    font-weight: bold;
}
.Pending {color: orange;}
.InProgress {color: blue;}
.Resolved{color: green;}
.Overdue{color: red;}

button{
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}
button:hover {
    background-color: #218838;
}